<form class="example-form" [formGroup]="taskForm" (ngSubmit)="addTask()">
    <mat-form-field class="example-full-width">
      <mat-label>Add task</mat-label>
      <input type="text" matInput #message minlength="5" placeholder="Enter task name" formControlName="taskName" [(ngModel)]="task.name">
      <mat-hint align="start"><strong>Min. 5 characters</strong> </mat-hint>
    </mat-form-field>

    <mat-form-field class="quarter-width">
      <mat-label>Choose a date</mat-label>
      <input type="text" matInput [matDatepicker]="picker" formControlName="taskDeadline" [(ngModel)]="task.deadline">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint align="start"><strong>Due Date</strong> </mat-hint>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="!taskForm.valid">Add</button>
  </form>



