.example-form {
    display: flex;
    justify-content: space-between;
  }

  .half-width {
    min-width: 250px;
    max-width: 450px;
  }

  .quarter-width {
    width: 25%;
  }

  button {
      margin-left: 15px;
  }

