<form class="example-form" [formGroup]="taskForm" (ngSubmit)="addTask()">
  <div>
    <mat-form-field class="half-width">
      <mat-label>Add task</mat-label>
      <input type="text" matInput #message placeholder="Enter task name" formControlName="taskName" [(ngModel)]="task.name">
      <mat-hint align="start"><strong>Min. 5 characters</strong> </mat-hint>
    </mat-form-field>

    <mat-form-field class="quarter-width">
      <mat-label>Choose a date</mat-label>
      <input type="text" matInput [matDatepicker]="picker" formControlName="taskDeadline" [(ngModel)]="task.deadline">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint align="start"><strong>Due Date</strong> </mat-hint>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="!taskForm.valid">Add</button>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Search task</mat-label>
      <input type="text" matInput placeholder="Start typing..." #searchBox (input)="search(searchBox.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  </form>



