<div style="display:flex; justify-content: flex-start;">
  <mat-list role="list" style="width: 50%; margin-right: 10px;">
    <div class="task-header">
      <h2>To do</h2>
      <h2>{{this.tasks.length}}</h2>
    </div>
    <ng-container *ngFor="let task of tasks | filterTask: searchText; let i = index">
  <mat-list-item role="listitem" *ngIf="task.done === false;">

    <mat-icon mat-list-icon>event</mat-icon>
    <div mat-line><strong>{{task.name}}</strong></div>
    <div mat-line> {{task.deadline | date: 'mediumDate'}} </div>

    <div>
    <button mat-raised-button (click)="markAsDone(i, task)" style="transform: scale(0.85); background-color:rgb(0, 146, 0); color: white;">
      Mark as complete
    </button>
    <button mat-raised-button (click)="editTask()" color="accent" style="transform: scale(0.85);">
      Edit
    </button>
    <button mat-raised-button (click)="deleteTask(i)" color="warn" style="transform: scale(0.85)">
      Delete
    </button>
    </div>

  </mat-list-item>
  </ng-container>
  </mat-list>

  <mat-list role="list" style="width: 50%; margin-left: 10px;">
    <div class="task-header">
      <h2>Done</h2>
      <h2>{{this.tasksdone.length}}</h2>
    </div>
    <ng-container *ngFor="let task of tasksdone; let i = index">
    <mat-list-item class="done" role="listitem" *ngIf="task.done === true;">

        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line>{{task.name}}</div>
       <div mat-line>{{task.deadline | date: 'mediumDate'}}</div>
        <button mat-raised-button (click)="deleteTaskDone(i)" color="warn" style="transform: scale(0.85)">
          Delete
       </button>

    </mat-list-item>
    </ng-container>
    </mat-list>
  </div>


